.link {
  position: relative;
  transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.symbol {
  position: absolute;
  left: -26px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Gilroy-Bold';
  font-size: 26px;
  letter-spacing: inherit;
}
