@import '../type-reset.css';
@import '../variables.css';

/*
 * Base styles
 * ========================================================================== */

html {
  color: #2a2829;
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  font-family: var(--font-family-base);
  line-height: 1.375; /* ~22px */
  background: #fcfcfb;
  box-sizing: border-box;
  letter-spacing: 1px;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  font-family: inherit;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
